{% extends "base.html" %}
{% block title %}jokes{% endblock %}

{% block content %}
<div class="first">
  <h3>Choose your favorite category and don't forget to laugh</h3>
</div>
<h2>Choose one of the following catergories:</h2>
<h5>{{categories}}</h5>
<div id="search">
  <form id="search-form" class="row" action="#" method="GET">
    <div class="col-auto">
      <label for="category" class="visually-hidden">category</label>
      <input class="form-control" id="category" name="category" type="text" placeholder="Category" tabindex=0 autofocus>
    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-primary">enter</button>
    </div>
  </form>
</div>
<div class="wrong">
  {% if wrong %}
    {{wrong}}
  {% endif %}
</div>    
<h2>Results:</h2>
<div id="results">
  <div class="category-name">The chosen category: {{category}}</div>
  <div>The joke: {{joke}}</div>
    <a class="nav-item nav-link" href="{{ url_for('userjokes') }}">HAVE A LIST OF YOUR JOKES</a>
    <a class="nav-item nav-link" href="{{ url_for('jokes') }}">Have a nother Joke</a>
    <a class="nav-item nav-link" href="{{ url_for('logout') }}">Log Out</a>
</div>
{% endblock %}